{% extends 'research_centers/base.html' %}
{% load static %}
{% load socialaccount %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'research_centers/individual_activity.css' %}" />
{% endblock stylesheets %}

{% block body %}

<div class="container">
    
    <div class="activity">
        {% if activity.image %}
            <img src="{{activity.image.url}}" class="card-img-top" alt="...">
        {% else %}
            <div class="ratio ratio-16x9">
                {{activity.video | safe}}
            </div>
        {% endif %}
        <p>{{activity.text | safe}}</p>
    </div>


</div>

{% endblock body %}