{% extends 'research_centers/base.html' %}
{% load static %}
{% load socialaccount %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'research_centers/individual_center.css' %}" />
{% endblock stylesheets %}

{% block body %}

<div class="container">
    
    <div class="center">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="center-image">
                    <img src="{{center.image_url}}" alt="">
                </div>
                <div class="center-body mt-4">
                    <div class="center-name">
                        <h2 class="text-center">{{center.name}}</h2>
                    </div>
                    <p>{{center.info | safe}}</p>
                </div>
    
    
            </div>
            <div class="col-12 col-md-4">
                <div class="join-us-card card m-auto">
                    <div class="ratio ratio-16x9">
                        {{center.video | safe}}
                    </div>
                    <div class="card-body">
                      <!-- <h5 class="card-title">JOIN US</h5> -->
                      <p class="card-text text-center">{{center.short_description}}</p>
                      <div class="join">
                        <button class="btn btn-warning w-100">
                          Join Research Centre
                        </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% if activities %}
<div class="activities-wrapper my-5">
    <div class="activities">
        <h5 class="text-center">Our activities and initiatives</h5>
        <p class="text-end"><a href="activities" >See more ..</a></p>

        


        <div class="row row-cols-1 row-cols-md-3 gy-4">
            {% for activity in activities %}

            <div class="col">
                <div class="card m-auto h-100">
                    <img src="{{activity.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{activity.text | safe}}</p>
                    </div>
                    <a class="btn btn-outline-primary btn-md mb-3 mx-2 " href="activities/{{activity.id}}">Show</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endif %}



{% endblock body %}