{% extends 'research_centers/base.html' %}
{% load static %}
{% load socialaccount %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'research_centers/individual_center.css' %}" />
{% endblock stylesheets %}

{% block body %}

<div class="container">
    
    <div class="center">
        <div class="row">
            <div class="col-12 col-md-8">

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{{center.image1.url}}" class="d-block w-100" alt="...">
                      </div>
                      {% if center.image2.url %}
                        <div class="carousel-item">
                            <img src="{{center.image2.url}}" class="d-block w-100" alt="...">
                        </div>
                      {% endif %}
                      {% if center.image3.url %}
                      <div class="carousel-item">
                        <img src="{{center.image3.url}}" class="d-block w-100" alt="...">
                      </div>
                      {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <div class="center-body mt-4">
                    <div class="center-name">
                        <h2 class="text-center">{{center.name}}</h2>
                    </div>
                    <p>{{center.info | safe}}</p>
                </div>
    
    
            </div>
            <div class="col-12 col-md-4">
                <div class="join-us-card card m-auto">
                    <div class="ratio ratio-16x9">
                        {{center.video | safe}}
                    </div>
                    <div class="card-body">
                      <!-- <h5 class="card-title">JOIN US</h5> -->
                      <p class="card-text text-center">{{center.short_description}}</p>
                      <div class="join">
                        <button class="btn btn-purple w-100">
                          Join Us
                        </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% if activities %}
<div class="activities-wrapper my-5">
    <div class="activities">
        <h5 class="text-center">Our activities and initiatives</h5>
        <p class="text-end"><a href="activities" >See more ..</a></p>

        


        <div class="row row-cols-1 row-cols-md-3 gy-4">
            {% for activity in activities %}

            <div class="col">
                <div class="card m-auto h-100">
                    {% if activity.image %}
                        <img src="{{activity.image.url}}" class="card-img-top" alt="...">
                    {% else %}
                        <div class="ratio ratio-16x9">
                            {{activity.video | safe}}
                        </div>
                    {% endif %}
                    <div class="card-body">
                      <p class="card-text">{{activity.text | safe}}</p>
                    </div>
                    <a class="btn btn-purple btn-md mb-3 mx-auto " href="activities/{{activity.id}}">Show</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endif %}



{% endblock body %}