{% extends 'research_centers/base.html' %}
{% load static %}
{% load socialaccount %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'research_centers/research_centers.css' %}" />
{% endblock stylesheets %}

{% block body %}


<div class="top-div">
    <div class="top-div-wrapper text-center">
        <h1 class="">Research Centers</h1>
        <p class="font-body">
            
        </p>
    </div>
</div>
<div class="container">
    
    
    <div class="activities">
        <h5>Our activities and initiatives</h5>
        <p class="text-end"><a href="activities" >See more ..</a></p>

        


        <div class="row row-cols-1 row-cols-md-3 gy-4">
            {% for activity in activities %}

            <div class="col p-0">
                <div class="card m-auto" style="width: 18rem;">
                    <img src="{{activity.image_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{activity.text | safe}}</p>
                    </div>
                    <a class="btn btn-primary btn-md mb-3 mx-2 " href="activities/{{activity.id}}">Show</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>


</div>

{% endblock body %}