{% extends 'contests/base.html' %}
{% load static %}
{% load socialaccount %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'contests/individual_contest.css' %}" />

{% endblock stylesheets %}

{% block body %}



<div class="container">
        <div class="contest-details">
            <img src="https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
            <h1 class="my-4 text-center">{{contest.name}}</h1>
            <div class="desc">
                <p>{{contest.info | safe}}</p>
            </div>
        </div>
        
        <div class="submissions">
            <div class="submissions-header py-4">
                <h2>
                    User Entries
                </h2>
            </div>
            <div class="card">
                <div class="card-header py-3"><strong>Username</strong></div>
                <img src="https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Heading</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga architecto ipsum blanditiis minus quisquam accusantium obcaecati quis consequuntur illum sit!</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  <p class="card-text"><small class="text-muted">3 mins ago</small></p>
                </div>
              </div>
        </div>

        <!-- Form -->
        <div class="container">
            <h1 id="oh2" class="text-center">Create your Submission</h1>
            <p id="p1">Note: All fields are mandatory. </p>
            {% if user.is_authenticated %}
            <form action="/contests/{{contest.id}}/submit" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                <label for="formGroupExampleInput">Caption</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="caption" required>
                  </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Image URL</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="image_url">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Video URL</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="video_url">
                </div>
                <div class="form-group">
                    <input type="checkbox" id="terms" required>
                    <label for="terms">I here by declare that the project report/Write up/ Critical Analysis or any kind similar nature of work submitted by me to Parvaaz Parindey by Asha Akansha Foundation , is a record of bonafide work carried out by me, with no kind of plagiarism. All due credits are given to resources cited. I further declare that the work reported in this has not been submitted and will not be submitted, either in part or in full, for the award of any other organization or any other institutions.</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-lg" id="btn-submit">Submit</button>
                </div>
            </form>
            {%else%}
            <a href="{% provider_login_url 'google' %}" class="btn btn-primary btn-apply w-100">
                Login First
            </a>
            {% endif %}
        </div>

        <!-- Submission -->
        <div class="row">
            {% for submission in submissions%}
            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                      <img src="{{ submission.image_url}}" class="card-img-top" alt="{{ submission.image_url}}">
                      <div class="card-body">
                        <h5 class="card-title">Submitted by {{submission.user_id.username}}</h5>
                              <p class="card-text">{{submission.caption}}</p>
                              <p class="card-text">Video_url={{submission.video_url}}</p>
                      </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    



{% endblock body %}