

div.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}



/* ----------------- Filter CSS ----------------- */

div.filter-input {
    padding-left: 1rem;
    border-left: 1px solid gray;

}
.filter-div label {
    color: gray;
    margin-bottom: 1rem;
}
.filter-div button{
    margin: auto;
}