

div.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}



.top-div {
    height: 50vh;
    max-height: 700px;
    background-color: #a53692;
    color: white;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.top-div-wrapper {
    position: relative;
    height: fit-content;
    width: 80%;
}

.top-div h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 1rem;
}



/* ----------------- Filter CSS ----------------- */

div.filter-input {
    padding-left: 1rem;
    border-left: 1px solid gray;

}
.filter-div label {
    color: gray;
    margin-bottom: 1rem;
}
.filter-div button{
    margin: auto;
}