* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 120px
}
.contest-details h1 {
    font-family: 'Playfair Display', serif;
}
.contest-details {
    margin: auto;
}
.contest-details img {
    width: 100%;
    display: block;
    margin: auto;
}


.line-heading {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.line-heading h2 {
    font-size: 2rem;
    /* font-family: 'Marcellus', serif; */
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
}
div.underline {
    height: 4px;
    width: 50%;
    margin: auto;
    background-color: #a53692;
    margin-top: 1rem;
}


.contest-desc {
    margin-top: 1rem;
}
.contest-desc p {
    color: gray;
}

.submissions {
    width: 60%;
    margin: auto;
}
.submission-card {
    margin-bottom: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.submission-card .card {
    padding-bottom: 1rem;
    border: none;
}

.card-header {
    background-color: white;
    
}
.card img {
    border-radius: 0;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}