

.top-div {
    height: 50vh;
    max-height: 700px;
    background-color: #a53692;
    color: white;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.top-div-wrapper {
    position: relative;
    height: fit-content;
    width: 80%;
}

.top-div h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 1rem;
}



.card{
    margin: 0.5rem;
    border: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card img{
    display: block;
    border-radius: 0 50% 0 50%;
    transition: border-radius 0.5s;
    /* border-radius: 100%; */
    /* margin: 15px auto; */
    width:100%;
}
div.card:hover img.card-img-top {
    border-radius: 0%;
}
.btn-purple {
    background-color: #a53692;
    padding: 0.3rem;
    width: 70%;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    border: 2px solid #a53692;
    color: white;
    transition: background-color 0.3s;
    /* position: absolute;
    bottom: 0; */

}
.btn-purple:hover {
    background-color: white;
    color: #a53692;
}
footer span{
    color: white;    
}
footer a{
    color: white;
    text-decoration: none;
}

