
.course-title {
    margin-top: 110px;
}
div.playlist {
    
    height: 75vh;
    overflow-y: scroll;
}

div.playlist::-webkit-scrollbar {
    width: 10px; 
}

div.playlist::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

div.playlist::-webkit-scrollbar-thumb {
    background: #A53692;
}
.list-group-item.active {
    background-color: #A53692;
    border: #A53692;
}
li.active a {
    color: white;
}
div.list-group a {
    text-decoration: none;
    color: black;
}
.tabs-div {
    padding: 1rem;
}