{% extends 'career_talks/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'career_talks/career_talks.css' %}" />

{% endblock stylesheets %}

{% block body %}

<div class="container">
    <div class="heading text-center mb-4">
        <h1 class="heading-font">Career Talks</h1>
    </div>

    <!-- <div class="sub-heading text-center">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam temporibus consequatur provident velit magnam ipsa voluptate ab, facere eaque eveniet?</p>
    </div> -->

    <div class="filter d-flex flex-wrap justify-content-center align-items-center">
        <div class="">
            <p>Category</p>
        </div>
        <div class="All">
            <button class="btn btn-default active mx-3">
                All
            </button>
        </div>
        <div class="ML">
            <button class="btn btn-default">Category-1</button>
        </div>
        <div class="genomics">
            <button class="btn btn-default mx-3">
                Category-2
            </button>
        </div>
        <div class="other">
            <button class="btn btn-default">
                Category-3
            </button>
        </div>
    </div>

    <div class="row my-5 career-talk">
        <div class="col-lg-6 p-0">
            <div class="ratio ratio-16x9">
                <iframe
                    src="https://www.youtube.com/embed/Aa7OhQlIWzM"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
        <div class="col-lg-6 talk-details">
            <h1><a href="">Heading</a></h1>
            <div class="talk-text gray">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Quidem perferendis laudantium quos, mollitia
                    accusamus maiores ipsum pariatur rerum blanditiis minima
                    sint hic. Natus fugit, cupiditate eum dolores nihil quae
                    aspernatur!
                </p>
            </div>
            <button class="btn-view"><a href="career_talks/id">View</a></button>
        </div>
    </div>
    
    
</div>

{% endblock body %}