{% extends 'career_talks/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'career_talks/career_talk_individual.css' %}" />

{% endblock stylesheets %}

{% block body %}

<div class="container">
    {% if career_talk.image_url %}
        <div class="talk-image">
            <img src="{{career_talk.image_url}}" class="w-100" alt="">
        </div>
    {% endif %}

    {% if career_talk.embeded_video_link %}
        <div class="yt-video">
            <div class="ratio ratio-16x9">
                {{career_talk.embeded_video_link}}
            </div>
        </div>
    {% endif %}
    <div class="talk-details">
        <h1 id="head"><a href="">{{career_talk.title}}</a></h1>

        <div class="talk-text gray">
            <p>
                {{career_talk.description | safe}}
            </p>
        </div>
    </div>
</div>

{% endblock body %}