{% extends 'courses/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/courses.css' %}" />

{% endblock stylesheets %}

{% block body %}


<div class="top-div">
    <div class="top-div-wrapper text-center">
        <h1 class="">Courses</h1>
        <p class="font-body">
            
        </p>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 gy-5">
        {% for course in courses%}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <img
                            src={{course.image_link}}
                            class="card-img-top"
                            alt=""
                        />
                        <h5
                            class="card-title text-center"
                            style="margin-top: 1.2rem"
                        >
                            {{course.title}}
                        </h5>
                        <p class="card-text">
                            {{course.description}}
                        </p>
                        <div class="text-center">
                            <a href="{{ course.id }}" class="">
                                <button class="btn btn-outline-info">
                                    View Tutorials
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    
    </div>
</div>


{% endblock body %}