{% extends 'courses/base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/courses.css' %}" />

{% endblock stylesheets %}

{% block body %}


<div class="container">
    <h1
        id="heading"
        class="heading-font text-center mb-4"
    >
        All Courses
    </h1>
    <div class="row row-cols-1 row-cols-md-3 gy-5">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img
                        src="https://images.unsplash.com/photo-1587902706455-4beb554f881f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top"
                        alt=""
                    />
                    <h5
                        class="card-title text-center"
                        style="margin-top: 1.2rem"
                    >
                        Python Tutorial
                    </h5>
                    <p class="card-text">
                        This is a longer card with supporting text below
                        as a natural lead-in to additional content. This
                        content is a little bit longer.
                    </p>
                    <div class="text-center">
                        <a href="/courses/course_playlist" class="">
                            <button class="btn btn-outline-info">
                                View Tutorials
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img
                        src="https://images.unsplash.com/photo-1587902706455-4beb554f881f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top"
                        alt=""
                    />
                    <h5
                        class="card-title text-center"
                        style="margin-top: 1.2rem"
                    >
                        Python Tutorial
                    </h5>
                    <p class="card-text">
                        This is a longer card with supporting text below
                        as a natural lead-in to additional content. This
                        content is a little bit longer.
                    </p>
                    <div class="text-center">
                        <a href="/courses/course_playlist" class="">
                            <button class="btn btn-outline-info">
                                View Tutorials
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img
                        src="https://images.unsplash.com/photo-1587902706455-4beb554f881f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top"
                        alt=""
                    />
                    <h5
                        class="card-title text-center"
                        style="margin-top: 1.2rem"
                    >
                        Python Tutorial
                    </h5>
                    <p class="card-text">
                        This is a longer card with supporting text below
                        as a natural lead-in to additional content. This
                        content is a little bit longer.
                    </p>
                    <div class="text-center">
                        <a href="/courses/course_playlist" class="">
                            <button class="btn btn-outline-info">
                                View Tutorials
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img
                        src="https://images.unsplash.com/photo-1587902706455-4beb554f881f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top"
                        alt=""
                    />
                    <h5
                        class="card-title text-center"
                        style="margin-top: 1.2rem"
                    >
                        Python Tutorial
                    </h5>
                    <p class="card-text">
                        This is a longer card with supporting text below
                        as a natural lead-in to additional content. This
                        content is a little bit longer.
                    </p>
                    <div class="text-center">
                        <a href="/courses/course_playlist" class="">
                            <button class="btn btn-outline-info">
                                View Tutorials
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img
                        src="https://images.unsplash.com/photo-1587902706455-4beb554f881f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top"
                        alt=""
                    />
                    <h5
                        class="card-title text-center"
                        style="margin-top: 1.2rem"
                    >
                        Python Tutorial
                    </h5>
                    <p class="card-text">
                        This is a longer card with supporting text below
                        as a natural lead-in to additional content. This
                        content is a little bit longer.
                    </p>
                    <div class="text-center">
                        <a href="/courses/course_playlist" class="">
                            <button class="btn btn-outline-info">
                                View Tutorials
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img
                        src="https://images.unsplash.com/photo-1587902706455-4beb554f881f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top"
                        alt=""
                    />
                    <h5 class="card-title text-center" style="margin-top: 1.2rem">
                        Python Tutorial
                    </h5>
                    <p class="card-text">
                        This is a longer card with supporting text below
                        as a natural lead-in to additional content. This
                        content is a little bit longer.
                    </p>
                    <div class="text-center">
                        <a href="/courses/course_playlist" class="">
                            <button class="btn btn-outline-info">
                                View Tutorials
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}