
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #a53692;
}


body{
    overflow-x: hidden;
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.heading-font{
    font-family: 'Mate SC', serif;
}