* {
    margin: 0;
    padding: 0;
}

.top-div {
    height: 50vh;
    max-height: 700px;
    background-color: #a53692;
    color: white;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.top-div-wrapper {
    position: relative;
    height: fit-content;
    width: 80%;
}

.top-div h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 1rem;
}


.gray {
    color: gray;
}
.talk-details a{
    text-decoration: none;
    color: inherit;
}
.talk-body {
    height: fit-content;
}
.talk-details {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.talk-text {
    /* height: 50%; */
    max-height: 150px;
    overflow: hidden;

}

.btn-purple {
    background-color: #a53692;
    padding: 0.3rem;
    width: 5rem;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    border: 2px solid #a53692;
    color: white;
    transition: background-color 0.3s;
    /* position: absolute;
    bottom: 0; */

}
.btn-purple:hover {
    background-color: white;
    color: #a53692;
}

div.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.talk-image img {
    width: 100%;
}

/* ----------------- Filter CSS ----------------- */

div.filter-input {
    padding-left: 1rem;
    border-left: 1px solid gray;

}
.filter-div label {
    color: gray;
    margin-bottom: 1rem;
}
.filter-div button{
    margin: auto;
}