

div.center-name {
    margin-top: 110px;
    background-color: lightblue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
}

div.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}