

.top-div {
    height: 50vh;
    max-height: 700px;
    background-color: #a53692;
    color: white;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.top-div-wrapper {
    position: relative;
    height: fit-content;
    width: 80%;
}

.top-div h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-bottom: 1rem;
}
.btn-purple {
    background-color: #a53692;
    padding: 0.3rem;
    width: 90%;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    border: 2px solid #a53692;
    color: white;
    transition: background-color 0.3s;
    /* position: absolute;
    bottom: 0; */

}
.btn-purple:hover {
    background-color: white;
    color: #a53692;
}
